<section id="event" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Торжественная церемония в ЗАГСе</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dd>
                        Если вы планируете присутствовать на регистрации
                    </dd>
                    <dd>Сбор гостей начнётся в 10:00</dd>
                    <dd>
                        <address>
                            Дворец Бракосочетания №2<br>
                            <a href="https://yandex.ru/maps/-/CHu4aJ8l" target="_blank">Фурштатская ул. 52, Центральный район, Санкт - Петербург, Россия</a><br>
                        </address>

                    </dd>
                    <dd>Добраться можно на общественном транспорте до метро Чернышевская,<br>
                        потом 10 минут пешком.
                        <dd>
                    <dd>
                        После торжественной церемонии приглашаем вас на фотосессию в Таврический сад, расположенный неподалёку от 
                        дворца бракосочетания
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
<section id="saturday-event" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Ресторан на Финском Заливе</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt></dt>
                    <dd>Приглашаем вас на берег Финского залива, чтобы провести там банкет под сопровождение DJ</dd>
                    <dd>Если вы будете присутствовать на регистрации, то трансфер в ресторан мы организуем для вас, если вы хотите добраться сразу в ресторан,
                        адрес: 
                    </dd>
                    <dt>Адрес:</dt>
                    <dd>
                        <address>
                            Ресторан "Атлантис"<br>
                            <a href="https://yandex.ru/maps/-/CHBPf4pc">Санкт-Петербург, Курортный район, посёлок Солнечное, Дачная улица, 1</a><br>
                            Телефон +7 (812) 432-90-60
                        </address>
                    </dd>
                    <dt>Стиль одежды</dt>
                    <dd>Свадьба на пляже, поэтому уделите внимание удобной обуви - вам наверняка захочется пройтись по пляжу.<br>
                        Ниже мы предлагаем вам несколько образов для вдохновения, будем рады, если вы поддержите цветовое и стиллистическое 
                        решение нашей свадьбы.
                    </dd>

                    </dd>
                    {% comment %}
                    <dt>Дополнительно</dt>
                    <dd>
                        Если вы хотите провести с нами ещё и воскресенье на даче, заполните Яндекс форму по ссылке, чтобы мы могли понимать, вместимся ли мы в дачу 
                        или нужно снимать коттедж ссылка:<a href="https://goo.gl/maps/a9uGVVQwqBT2">Форма для второго дня</a>.
                    </dd>
                    {% endcomment %}
               
                </dl>
            </div>
        </div>
    </div>
{% comment %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Sunday</h2>
                <hr class="primary">
                <p>
                    Cory and Rowena will be headed to Niagara Falls on Sunday.
                    Anyone who wants to join them is welcome.
                    Details will be coordinated via Whatsapp.
                </p>
            </div>
        </div>
    </div>
{% endcomment %}
</section>
