{% load static %}
<div class="container">
        <h2 class="section-heading text-center">Дресс код</h2>
        <hr class="primary">
        <p>
             Если вы затрудняетесь в выборе наряда, мы предлагаем вам поддержать общий стиль, чтобы все органично смотрелись на фотографиях
             Рекомендации по внешнему виду мы предлагаем вам ниже.
        </p>
        <div class="row">
            <div class="col-lg-4 col-sm-6"> <!---Edit lg-x num to adjust width-->
                <div class="charity-box">
                    <img src="{% static 'bigday/images/milfs.jpg' %}" class="img-responsive" alt="">
                    <h3>Cocktail стиль</h3>
                    <p>

                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6"> <!---Edit lg-x num to adjust width-->
                <div class="charity-box">
                    <img src="{% static 'bigday/images/mans.jpg' %}" class="img-responsive" alt="">
                    <h3>Пастельные цвета</h3>
                    <p>
                        
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6"> <!---Edit lg-x num to adjust width-->
                <div class="charity-box">
                    <img src="{% static 'bigday/images/charities/acf.jpg' %}" class="img-responsive" alt="">
                    <h3>Парни, не в этот раз</h3>
                    <p>
                       
                    </p>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-sm-6">
                <div class="charity-box">
                    <img src="{% static 'bigday/images/charities/climate-reality.jpg' %}" class="img-responsive" alt="">
                    <h3>Тигриные львицы, не в этот раз</h3>
                    <p>
                        The <a href="https://www.climaterealityproject.org/">Climate Reality Project</a> is an organization founded by Al Gore whose mission is to catalyze a global solution to the climate crisis by making urgent action a necessity across every level of society.
                    </p>
                </div>
            </div> -->

        </div>
</div>
