{% load static %}
<div class="container">
        <h2 class="section-heading text-center">Дресс код</h2>
        <hr class="primary">
        <p>
             Если вы затрудняетесь в выборе наряда, мы предлагаем вам поддержать общий стиль, чтобы все органично смотрелись на фотографиях
             Рекомендации по внешнему виду мы предлагаем вам ниже.
        </p>
        <div class="row">
            <div class="col-lg-4 col-sm-6"> <!---Edit lg-x num to adjust width-->
                <div class="charity-box">
                    <img src="{% static 'bigday/images/milfs.jpg' %}" class="img-responsive" alt="">
                    <h3>Cocktail стиль</h3>
                    <p>

                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6"> <!---Edit lg-x num to adjust width-->
                <div class="charity-box">
                    <img src="{% static 'bigday/images/mans.jpg' %}" class="img-responsive" alt="">
                    <h3>Пастельные цвета</h3>
                    <p>
                        <a href="http://www.sparkmicrogrants.org/">Spark MicroGrants</a> is a small NGO pioneering a new method of community development.
                        Spark supports rural poor communities to design, implement and manage their own social impact projects.
                        They provide micro-grants of between $2,000-$10,000 to enable project implementation, such as of a school, electricity line or farm.
                        No interest or repayment of the funds granted is requested.
                        To date Spark has partnered with over 100 communities in Rwanda, Uganda, and Burundi who have developed local project plans and are in the process of implementing them.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6"> <!---Edit lg-x num to adjust width-->
                <div class="charity-box">
                    <img src="{% static 'bigday/images/charities/acf.jpg' %}" class="img-responsive" alt="">
                    <h3>Парни, не в этот раз</h3>
                    <p>
                        The <a href="http://www.africanconservation.org/about-us">African Conservation Foundation</a> is working towards the protection and conservation of Africa's endangered wildlife and their habitats.
                        Founded in 1999, ACF fills a unique niche by creating an Africa-wide network for information exchange and capacity building of conservation efforts in the region.
                    </p>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-sm-6">
                <div class="charity-box">
                    <img src="{% static 'bigday/images/charities/climate-reality.jpg' %}" class="img-responsive" alt="">
                    <h3>Тигриные львицы, не в этот раз</h3>
                    <p>
                        The <a href="https://www.climaterealityproject.org/">Climate Reality Project</a> is an organization founded by Al Gore whose mission is to catalyze a global solution to the climate crisis by making urgent action a necessity across every level of society.
                    </p>
                </div>
            </div> -->

        </div>
</div>
