<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="text-center"><i class="fa-4x fa-solid fa-champagne-glasses"></i></div>
            <br>
            <h2 class="section-heading text-center">Без алкоголя</h2>
            <hr class="light">
            <p>
            </p>
            <br>
            <br>
            <br>

            <p> Пожалуйста, не дарите нам алкоголь, мы очень мало его пьём </p>

        </div>
        <div class="col-lg-6">
            <div class="text-center"><i class="fa-4x fa-solid fa-record-vinyl"></i></div>
            <br>
            <h2 class="section-heading text-center">Любители винила и настолок</h2>
            <hr class="light">

            <p> Если вы хотите сделать нам подарок, но затрудняетесь с выбором или вам кажется, что его будет тяжело везти,<br> 
                не переживайте, мы будем рады хрустящим подаркам в конвертах</p>

            <p> Если вы хотите подарить что - то полезное или то, что будет нам напоминать о вас и приносить радость, мы подготовили <br>
            список желаний, краткое описание которого вы можете увидеть справа</p>
            <p>
                Мы любим настолки и винил и булемм рабы получить их в подарок, список пожеланий можно посмотреть <a href="Ссылка на вишлист">здесь</a>. 
            </p>
        </div>
    </div>
</div>
