<header id="second-header" class="secondary"></header>
<h5 class="text-center text-muted">Наши милые фоточки в нехронологическом порядке.</h5>
<section id="proposal">
    <div class="container">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Предложение</h2>
            <hr class="primary">
            <p>
                В день, когда я сделал Насте предложение, мы пошли гулять в парк, в котором часто бывали, когда нам было 16.
                Но плохая погода и мокрый снег не дали нам найти уютное место и поэтому я позвал Настю в кафе, где мы отмечали нашу 5 годовщину отношений.
                К счастью нас разместили, но столик, который нам дали был в центре зала, пришлось технично пересесть в уголочек.
                После пиццы и двух чайников чая в конце вечера я снова 
                начал говорить Насте слова благодарности за 8 лет вместе и предложил "повернуть 8 на 90 градусов и прожить вместе вечность", примерно с такими, а может быть 
                и нет словами я достал кольцо и открыл коробочку.
            </p>
        </div>
    </div>
</section>
