<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Наша история</h2>
            <hr class="primary">
            <p>
                Мы познакомились во время учёбы в школе в 2016 году, с разницей в 1 год закончили 11 класс. Поддерживали друг друга во время поступления в ВУЗы и во время учёбы, съездили в Выборг, Хельсинки и Барселону.
                Нашли первую работу и начали жить вместе, сделали вместе ремонт и написали на двоих три с половиной диплома.  Так прошло 8 лет счастливых и насыщенных отношений, и теперь мы хотим продолжить их, 
                создав крепкую и счастливую семью.
            </p>
            <p>

            </p>
        </div>
    </div>
</div>
